POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fastapi
POSTGRES_HOST=localhost
PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
DEBUG=false
JWT_SECRET_KEY=secretkey
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60